<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
    <listener class-name="com.optimus.genericUtils.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.optimus.testCases.TC001_Get_All_Employee"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
